<div class="container list-posts">

    <h1 class="list-title">{{ .Name }}</h1>
    <small role="doc-subtitle">{{ .Description }}</small>

    <div class="post-content">
        {{ .Content }}
        {{ if .Site.Config.Services.Disqus.Shortname }}
        <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
    </div>

    {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}

    <h2 class="posts-year">{{ .Key }}</h2>

    {{- range .Pages -}}
        {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ end }}

</div>
